In [1]:
import pandas as pd

In [3]:
text_data=pd.read_csv('D:\\KAIMProjects\\ACISINSURANCEANALYTICS\\Data\\MachineLearningRating_v3.txt',delimiter='|')

C:\Users\EstifanosT\AppData\Local\Temp\ipykernel_19048\3050906120.py:1: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  text_data=pd.read_csv('D:\\KAIMProjects\\ACISINSURANCEANALYTICS\\Data\\MachineLearningRating_v3.txt',delimiter='|')

In [4]:
text_data.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [5]:
text_data.tail()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
1000093,31520,389,2015-04-01 00:00:00,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,...,No excess,Third Party,Third Party,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,347.235175,0.0
1000094,31520,389,2015-06-01 00:00:00,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,...,No excess,Third Party,Third Party,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,347.235175,0.0
1000095,31520,389,2015-08-01 00:00:00,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,...,No excess,Third Party,Third Party,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,347.235175,0.0
1000096,31519,389,2014-07-01 00:00:00,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,...,No excess,Passenger Liability,Passenger Liability,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,2.315000,0.0
1000097,31519,389,2015-02-01 00:00:00,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,...,No excess,Passenger Liability,Passenger Liability,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,2.315000,0.0

###  Data Summarization
Summary statistics for Numerical features

In [6]:
text_data.columns

Index(['UnderwrittenCoverID', 'PolicyID', 'TransactionMonth',
       'IsVATRegistered', 'Citizenship', 'LegalType', 'Title', 'Language',
       'Bank', 'AccountType', 'MaritalStatus', 'Gender', 'Country', 'Province',
       'PostalCode', 'MainCrestaZone', 'SubCrestaZone', 'ItemType', 'mmcode',
       'VehicleType', 'RegistrationYear', 'make', 'Model', 'Cylinders',
       'cubiccapacity', 'kilowatts', 'bodytype', 'NumberOfDoors',
       'VehicleIntroDate', 'CustomValueEstimate', 'AlarmImmobiliser',
       'TrackingDevice', 'CapitalOutstanding', 'NewVehicle', 'WrittenOff',
       'Rebuilt', 'Converted', 'CrossBorder', 'NumberOfVehiclesInFleet',
       'SumInsured', 'TermFrequency', 'CalculatedPremiumPerTerm',
       'ExcessSelected', 'CoverCategory', 'CoverType', 'CoverGroup', 'Section',
       'Product', 'StatutoryClass', 'StatutoryRiskType', 'TotalPremium',
       'TotalClaims'],
      dtype='object')

In [7]:
print(text_data[['TotalPremium','TotalClaims','CalculatedPremiumPerTerm','CapitalOutstanding']].describe())

       TotalPremium   TotalClaims  CalculatedPremiumPerTerm
count  1.000098e+06  1.000098e+06              1.000098e+06
mean   6.190550e+01  6.486119e+01              1.178757e+02
std    2.302845e+02  2.384075e+03              3.997017e+02
min   -7.825768e+02 -1.200241e+04              0.000000e+00
25%    0.000000e+00  0.000000e+00              3.224800e+00
50%    2.178333e+00  0.000000e+00              8.436900e+00
75%    2.192982e+01  0.000000e+00              9.000000e+01
max    6.528260e+04  3.930921e+05              7.442217e+04

In [8]:
# Variability Measuures
print("variance:")
print(text_data[['TotalPremium','TotalClaims']].var())
print("Standard Deviation:")
print(text_data[['TotalPremium','TotalClaims']].std())

variance:
TotalPremium    5.303096e+04
TotalClaims     5.683812e+06
dtype: float64
Standard Deviation:
TotalPremium     230.284513
TotalClaims     2384.074695
dtype: float64

### Data Structures

In [9]:
# Data types checking

print(text_data.dtypes)

UnderwrittenCoverID           int64
PolicyID                      int64
TransactionMonth             object
IsVATRegistered                bool
Citizenship                  object
LegalType                    object
Title                        object
Language                     object
Bank                         object
AccountType                  object
MaritalStatus                object
Gender                       object
Country                      object
Province                     object
PostalCode                    int64
MainCrestaZone               object
SubCrestaZone                object
ItemType                     object
mmcode                      float64
VehicleType                  object
RegistrationYear              int64
make                         object
Model                        object
Cylinders                   float64
cubiccapacity               float64
kilowatts                   float64
bodytype                     object
NumberOfDoors               float64
VehicleIntroDate             object
CustomValueEstimate         float64
AlarmImmobiliser             object
TrackingDevice               object
CapitalOutstanding           object
NewVehicle                   object
WrittenOff                   object
Rebuilt                      object
Converted                    object
CrossBorder                  object
NumberOfVehiclesInFleet     float64
SumInsured                  float64
TermFrequency                object
CalculatedPremiumPerTerm    float64
ExcessSelected               object
CoverCategory                object
CoverType                    object
CoverGroup                   object
Section                      object
Product                      object
StatutoryClass               object
StatutoryRiskType            object
TotalPremium                float64
TotalClaims                 float64
dtype: object

In [10]:
# Convert TransactionMonth and VehicleIntroDate to datetime
text_data['TransactionMonth'] = pd.to_datetime(text_data['TransactionMonth'], errors='coerce')
text_data['VehicleIntroDate'] = pd.to_datetime(text_data['VehicleIntroDate'], errors='coerce')

C:\Users\EstifanosT\AppData\Local\Temp\ipykernel_19048\584424686.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  text_data['VehicleIntroDate'] = pd.to_datetime(text_data['VehicleIntroDate'], errors='coerce')

###  Data Quality Assesment

In [23]:
# Total Missing Values per Column

missing_values=text_data.isnull().sum()
missing_percentage = (text_data.isnull().sum() / len(text_data)) * 100
#print(missing_values)
#print(missing_percentage)
# Combine into a single DataFrame
missing_data = pd.DataFrame({'Missing Values': missing_values, 'Percentage': missing_percentage})
# Display columns with missing data
print(missing_data[missing_data['Missing Values'] > 0])

                    Missing Values  Percentage
Bank                        145961   14.594670
AccountType                  40232    4.022806
MaritalStatus                 8259    0.825819
Gender                        9536    0.953507
mmcode                         552    0.055195
VehicleType                    552    0.055195
make                           552    0.055195
Model                          552    0.055195
Cylinders                      552    0.055195
cubiccapacity                  552    0.055195
kilowatts                      552    0.055195
bodytype                       552    0.055195
NumberOfDoors                  552    0.055195
VehicleIntroDate               552    0.055195
CapitalOutstanding               2    0.000200
NewVehicle                  153295   15.327998

In [12]:
# Drop Columns with excessive Missing Data threshold 50%
threshold = 50
columns_to_drop = missing_data[missing_data['Percentage'] > threshold].index
print(columns_to_drop)

Index(['CustomValueEstimate', 'WrittenOff', 'Rebuilt', 'Converted',
       'CrossBorder', 'NumberOfVehiclesInFleet'],
      dtype='object')

In [13]:
#  Droping Columns with more than 50% missing values
text_data.drop(columns=columns_to_drop, inplace=True)

In [18]:
# Impute numerical columns with median
numerical_cols = ['TotalPremium', 'TotalClaims', 'CalculatedPremiumPerTerm']
for col in numerical_cols:
    text_data[col].fillna(text_data[col].median(), inplace=True)

C:\Users\EstifanosT\AppData\Local\Temp\ipykernel_19048\1709445106.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  text_data[col].fillna(text_data[col].median(), inplace=True)

In [22]:
# Impute categorical columns with mode
categorical_cols = text_data.select_dtypes(['category']).columns
for col in categorical_cols:
    text_data[col].fillna(text_data[col].mode()[0], inplace=True)

In [34]:
# Removing Missing values with Smaller number of Missing Values 
text_data.isnull().sum()

UnderwrittenCoverID              0
PolicyID                         0
TransactionMonth                 0
IsVATRegistered                  0
Citizenship                      0
LegalType                        0
Title                            0
Language                         0
Bank                        145961
AccountType                  40232
MaritalStatus                 8259
Gender                        9536
Country                          0
Province                         0
PostalCode                       0
MainCrestaZone                   0
SubCrestaZone                    0
ItemType                         0
mmcode                         552
VehicleType                    552
RegistrationYear                 0
make                           552
Model                          552
Cylinders                      552
cubiccapacity                  552
kilowatts                      552
bodytype                       552
NumberOfDoors                  552
VehicleIntroDate               552
AlarmImmobiliser                 0
TrackingDevice                   0
CapitalOutstanding               2
NewVehicle                  153295
SumInsured                       0
TermFrequency                    0
CalculatedPremiumPerTerm         0
ExcessSelected                   0
CoverCategory                    0
CoverType                        0
CoverGroup                       0
Section                          0
Product                          0
StatutoryClass                   0
StatutoryRiskType                0
TotalPremium                     0
TotalClaims                      0
dtype: int64

In [33]:
text_data[['make','Model','Cylinders','cubiccapacity','kilowatts','bodytype','NumberOfDoors']].dropna(inplace=True)

C:\Users\EstifanosT\AppData\Local\Temp\ipykernel_19048\3601342921.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text_data[['make','Model','Cylinders','cubiccapacity','kilowatts','bodytype','NumberOfDoors']].dropna(inplace=True)